<div class="container">
  <div>
    <h2>Quiz Maker</h2>
  </div>
  <!-- Category and difficulty selection container -->
  <div class="choose_qns">
    <select [(ngModel)]="selectedCategory" id="categorySelect">
      <option *ngFor="let category of categories$|async" [value]="category.id">{{ category.name }}</option>
    </select>
    <select [(ngModel)]="selectedDifficulty" id="difficultySelect">
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
    </select>
    <button id="createBtn" (click)="createQuiz()">Create</button>
  </div>
</div>

<!-- Questions container -->
<div *ngIf="isQuizStarted" class="container qns">
  <div *ngFor="let question of questions; let qnIndex = index">
    <p [innerHTML]="question.question"></p>
    <div class="button-container">
      <div *ngFor="let answer of question.shuffled_answers; let ansIndex = index">
        <button [ngClass]="{'selected': question.selected_answer_index === ansIndex}"
          (click)="onAnswerSelect(qnIndex, ansIndex)" [innerHTML]="answer"></button>
      </div>
    </div>
  </div>
</div>

<!-- submit button section -->
<div *ngIf="isQuizStarted && isQuizCompleted" class="submit-container container">
  <button (click)="submitQuiz()">Submit</button>
</div>