.green {
    background-color: green;
    font-weight: bold;
  }
  
  .red {
    background-color: red;
    font-weight: bold;
  }
  
  .yellow {
    background-color: yellow;
    font-weight: bold;
  }