<div class="container">
    <h2>Quiz Results</h2>
    <p>Your Quiz Results:</p>
    <div *ngFor="let question of submittedAnsWithQns; let qnIndex = index">
        <p> {{ question.question }}</p>
        <div *ngFor="let answer of question.shuffled_answers; let ansIndex = index">
          <button [ngClass]="question.shuffled_answers_button_color[ansIndex]" >{{ answer }}</button>
        </div>
      </div>
    <!-- <p>Your Score: <span [style.color]="getScoreColor()">{{ calculateScore() }}</span></p>
    <button (click)="navigateToQuizCreation()">Create Another Quiz</button> -->
</div>